<!DOCTYPE html>
<html>
  <head>
    <title>Survey Manager: Users</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Survey Manager</h1></a>
    <% if (items.length > 0) { %>
       <ul>     
          <% items.forEach(function(item) { %>
      		<li><a href="/users/<%=item._id%>"><%=item.name%></a></li>
      		<% }); %>	
   		 </ul>
    <% } else { %>
    <div>No users have been added.</div>
    <% } %>

    <div itemscope itemtype="http://schema.org/Person" class="control">
      <h2>Add or update a new user</h2>
      <script>
      function onFormSubmit(form) {
        form.action = form.action + form.elements['item[id]'].value;
        console.log(form.action);
        return true;
      } 
      </script>
      <form method="post" action="/users/"
            onsubmit="return onFormSubmit(this);">
        <input type="hidden" name="_method" value="put">
        <label>User ID<br>
          (employee id number, no spaces):
          <input name="item[id]" type="text"  required
                 placeholder="000999">
        </label>
        <label>User name: 
          <input itemprop="name" name="item[name]" type="text" required
                 placeholder="John Doe">
        </label>
        <label> Email: 
          <input itemprop="email" name="item[email]" type="email"
                      placeholder="jdoe@yahoo.com">
        </label>
        <label>Job Title:
          <input itemprop="jobTitle" name="item[jobtitle]" type="text"
                    placeholder="Project Manager">
        </label>  
        <button>Add or update</button>
      </form>
    </div>
  </body>
</html>
