<!DOCTYPE html>
<html>
  <head>
    <title>Survey Manager: Respondents</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Survey Manager</h1></a>
    <div itemscope itemtype="http://schema.org/Person">
    <% if (items.length > 0) { %>
    <ul>
      <% items.forEach(function(item) { %>
      <li><a itemprop="url" href="/respondents/<%=item._id%>"><%=item.name%></a></li>
      <% }); %>
    </ul>
    <% } else { %>
    </div>
    <div>No respondents found.</div>
    <% } %>
    <div class="control" itemscope itemtype="http://schema.org/Person" >
      <h2>Search for respondents by name</h2>
      <form method="get" action="/respondents/">
        <label>Respondent name: <input itemprop="name" name="name"></label>
        <button>Search</button>
      </form>
    </div>
  </body>
</html>
